.gradle/
build/
out/
target/
*.class
*.log
*.key
*.pem
*.p12
*.jks
.env
.env.*
.idea/
.vscode/
Thumbs.db
.DS_Store
__pycache__/
*.pyc
manifest-example.json
neoforge-installer.jar
public-key.json
packaging/arch/*.pkg.tar.zst
